.preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  animation: fadeOut 0.9s ease-in-out forwards;
  z-index: 9999;
}

.logo-text {
  color: #29272777;
  letter-spacing: 2px;
  margin-bottom: 20px;
    font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 70px;
}

.spinner {
  width: 40px;
  height: 40px;
  border: 4px solid #29272777;
  border-top: 4px solid #fff;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes fadeOut {
  to {
    opacity: 0;
    visibility: hidden;
  }
}
